fastapi
uvicorn
python-dotenv

lancedb
pyarrow
watchdog

torch
torchvision
pillow
requests
timm
websockets
asyncio

# On-device text-to-image generation.
diffusers
transformers
accelerate
safetensors

pydantic-settings
typer
sqlalchemy

pyyaml

jinja2